@import url('http://fonts.googleapis.com/css?family=Oswald:400,700,300');
@import url('http://fonts.googleapis.com/css?family=Open+Sans:400,300');
@import url('reset.css');

body {
	color: #303137;
	font-family: "Open Sans", arial, sans;
	font-size: 18px;
	font-weight: 300;
}

section.main {
	margin: 0 auto;
	max-width: 700px;
	text-align: center;
}

img.hero {
	border-radius: 50%;
	height: auto;
	margin: 40px auto;
	width: 100px;
}

.heading-1 {
	font-family: "Oswald", arial, sans;
	font-size: 1.8rem;
	padding: 0 0 10px 0;
	text-transform: uppercase;
}

.heading-3 {
	font-size: 1.0rem;
	text-transform: lowercase;
	padding: 0 0 30px 0;
}

.secondary {
	background: #ffffff;
	border: 1px solid #dddddd;
	border-radius: 2px;
	color: #666666;
	display: inline-block;
	padding: 10px 15px;
	text-decoration: none;
	text-transform: lowercase;
	transition: all 0.25s ease;
}

.secondary:hover {
	background: #f2aa00;
	border: 1px solid #C68C04;
	color: #ffffff;
}