/* GLOBAL RESET */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { 
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
}

.cf:before, 
.cf:after { 
	content: " "; 
	display: table; 
}

.cf:after { 
	clear: both; 
}

.cf { 
	*zoom: 1; 
}

body {
	color: #666666;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 1.5;
}

header {
	background: #292929;
}

header a {
	color: #dddddd;
	display: inline-block;
	font-size: 14px;
	padding: 10px 15px;
	text-decoration: none;
	transition: all ease 0.25s;
}

header a:hover {
	background: #444444;
	color: #ffffff;
}

section.content {
	margin: 0 auto;
	padding-top: 30px;
	max-width: 800px;
}

article {
	padding: 0 20px 30px 20px;
}

article h1 {
	border-bottom: 1px dotted #cccccc;
	font-size: 20px;
	font-weight: normal;
	margin-bottom: 30px;
	padding-bottom: 5px;
}

.grey {
	background: #cccccc !important;
}

.dark-red {
	background: #9b2d0e !important;
}

.light-red {
	background: #d83e13 !important;
}

.orange {
	background: #e58510 !important;
}

.yellow {
	background: #f0bb1c !important;
}

.light-green {
	background: #4ca968 !important;
}

.dark-green {
	background: #22813f !important;
}



/*PDP - Reco Score*/
a.v1-wrapper {
	display: inline-block;
	margin: 0 auto 40px auto;
	min-width: 120px;
	text-align: center;
	text-decoration: none;
	transition: all ease 0.2s;
}

.v1-percentage {
	background: #cccccc;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	color: #ffffff;
	font-size: 30px;
	font-weight: bold;
	line-height: 1;
	padding: 10px;
	transition: all ease 1s;
}

.v1-percentage small {
	display: block;
	font-size: 12px;
	font-weight: normal;
}

.v1-review-count {
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
	border-bottom: 1px solid #cccccc;
	-webkit-box-shadow: inset 0px 0px 0 1px #cccccc;
	-moz-box-shadow: inset 0px 0px 0 1px #cccccc;
	box-shadow: inset 0px 0px 0 1px #cccccc;
	color: #4a99ca;
	font-size: 11px;
	padding: 8px 5px;
}

/*PLP - Reco Score*/
a.v2-wrapper {
	display: table;
	margin: 0 auto 40px auto;
	min-width: 180px;
	text-decoration: none;
	transition: all ease 0.2s;
}

.v2-circle {
	background: #cccccc;
	border-radius: 50%;
	display: table-cell;
	float: left;
	height: 20px;
	margin-right: 5px;
	text-indent: -10000px;
	vertical-align: middle;
	width: 20px;
	transition: all ease .1s;
}

a.v2-wrapper:hover .v2-circle {
	height: 30px;
	width: 30px;
}

.v2-percentage {
	color: #666666;
	display: table-cell;
	line-height: 1.2;
	vertical-align: middle;
}

.v2-percentage .count {
	color: #333333;
	font-weight: bold;
}

a.v2-wrapper:hover .v2-percentage,
a.v2-wrapper:hover .v2-percentage .count {
	color: #4a99ca;
}

.v2-percentage .review-count {
	display: block;
	font-size: 0;
	transition: all ease .1s;
}

a.v2-wrapper:hover .v2-percentage .review-count {
	font-size: 11px;
}








