/* line 1, ../scss/_reset.scss */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
/* line 22, ../scss/_reset.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }

/* line 26, ../scss/_reset.scss */
body { line-height: 1; }

/* line 29, ../scss/_reset.scss */
ol, ul { list-style: none; }

/* line 32, ../scss/_reset.scss */
blockquote, q { quotes: none; }

/* line 35, ../scss/_reset.scss */
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }

/* line 40, ../scss/_reset.scss */
table { border-collapse: collapse; border-spacing: 0; }

/* line 45, ../scss/_reset.scss */
.cf:before, .cf:after { content: " "; display: table; }

/* line 51, ../scss/_reset.scss */
.cf:after { clear: both; }

/* line 55, ../scss/_reset.scss */
.cf { *zoom: 1; }

/* line 1, ../scss/_structure.scss */
.wrapper { margin: auto; padding: 20px 0; width: 650px; }
@media screen and (max-width: 650px) { /* line 1, ../scss/_structure.scss */
  .wrapper { box-sizing: border-box; padding: 20px; width: 100%; } }

/* line 13, ../scss/_structure.scss */
.span2 { float: left; width: 32%; }
@media screen and (max-width: 650px) { /* line 13, ../scss/_structure.scss */
  .span2 { float: none; width: 100%; } }

/* line 23, ../scss/_structure.scss */
.span4 { float: right; width: 65%; }
@media screen and (max-width: 650px) { /* line 23, ../scss/_structure.scss */
  .span4 { float: none; width: 100%; } }

/* line 33, ../scss/_structure.scss */
.product-image { float: left; padding-right: 20px; width: 100px; }

/* line 39, ../scss/_structure.scss */
.product-info { overflow: hidden; width: auto; }

/* line 44, ../scss/_structure.scss */
.pop-background { background: #ffffff; opacity: 0.5; position: fixed; top: 0; right: 0; bottom: 0; left: 0; }

/* line 54, ../scss/_structure.scss */
.pop-content { background: #ffffff; border-radius: 5px; box-shadow: 0 0 3px 2px #ccc; -moz-box-shadow: 0 0 3px 2px #ccc; -webkit-box-shadow: 0 0 3px 2px #ccc; line-height: 150%; overflow-y: auto; padding: 30px; position: fixed; top: 10px; right: 10px; bottom: 10px; left: 10px; }

/* line 70, ../scss/_structure.scss */
.preview { border: 1px solid #dddddd; border-radius: 3px; margin-bottom: 20px; padding: 0; }

/* line 77, ../scss/_structure.scss */
.preview header { background: #f6f6f6; font-size: 0.875rem; padding: 20px; }

/* line 83, ../scss/_structure.scss */
.preview .content { border-bottom: 1px solid #dddddd; padding: 20px; }

/* line 88, ../scss/_structure.scss */
.preview .content:last-child { border: 0; }

/* line 1, ../scss/_type.scss */
body { color: #666666; font-family: arial, sans; font-size: 16px; line-height: 120%; padding-top: 20px; }

/* line 9, ../scss/_type.scss */
.headline1, .headline2, .headline3 { color: #333333; font-size: 1.375rem; font-weight: bold; line-height: 110%; padding-bottom: 5px; }

/* line 19, ../scss/_type.scss */
.headline2 { font-size: 1.125rem; }

/* line 23, ../scss/_type.scss */
.headline3 { font-size: 1rem; padding-bottom: 3px; }

/* line 28, ../scss/_type.scss */
p.small { font-size: 0.75rem; line-height: 120%; padding: 0 0 20px 0; }

/* line 34, ../scss/_type.scss */
p.small:last-child { padding: 0; }

/* line 38, ../scss/_type.scss */
.required { color: #dd0000; }

/* line 42, ../scss/_type.scss */
a.facebook { background: #4c87ac; border-radius: 3px; display: inline-block; color: #ffffff; font-weight: bold; margin: 0 auto; padding: 10px 20px; }

/* line 52, ../scss/_type.scss */
p { padding-bottom: 20px; }

/* line 56, ../scss/_type.scss */
a { color: #4a99ca; text-decoration: none; }

/* line 61, ../scss/_type.scss */
.legal { color: #aaaaaa; font-size: 0.75rem; line-height: 110%; }

/* line 67, ../scss/_type.scss */
.error { background: #dd0000; border-radius: 3px; color: #ffffff; padding: 10px 15px; }

/* line 1, ../scss/_form.scss */
fieldset { border-top: 1px solid #dddddd; margin: auto; padding: 20px 0 0 0; width: 650px; }
@media screen and (max-width: 650px) { /* line 1, ../scss/_form.scss */
  fieldset { box-sizing: border-box; padding: 20px 20px 0 20px; width: 100%; } }

/* line 14, ../scss/_form.scss */
fieldset section { padding-bottom: 20px; }

/* line 18, ../scss/_form.scss */
label.main { color: #333333; display: block; font-size: 1.125rem; font-weight: bold; margin-bottom: 5px; }

/* line 26, ../scss/_form.scss */
label.press { background: #f6f6f6; border-radius: 3px; color: #666666; display: block; margin-bottom: 1px; padding: 12px; }
@media screen and (min-width: 650px) { /* line 26, ../scss/_form.scss */
  label.press { background: none; padding: 0 0 10px 0; } }

/* line 40, ../scss/_form.scss */
label.press:hover { cursor: pointer; }

/* line 44, ../scss/_form.scss */
label.press:active, label.selected, label.selected:hover { background: #4a99ca; color: #ffffff; }

/* line 51, ../scss/_form.scss */
.rating { overflow: hidden; display: inline-block; }

/* line 56, ../scss/_form.scss */
label.star, div.star, div.star-selected { background: #f6f6f6; border: 1px solid #dddddd; border-radius: 5px; color: #ffffff; display: inline-block; float: right; font-size: 1.625rem; margin-right: 5px; padding: 8px; }

/* line 70, ../scss/_form.scss */
div.star, div.star-selected { font-size: 1.125rem; padding: 6px; }

/* line 76, ../scss/_form.scss */
label.star input { margin-left: -9999px; position: absolute; }

/* line 81, ../scss/_form.scss */
label.star:hover, label.star:hover ~ label.star, .rating label.selected ~ label.star, label.star:active, .rating label.selected, div.star-selected { background: #ff5b26; border: 1px solid #ff5b26; cursor: pointer; }

/* line 92, ../scss/_form.scss */
div.star, div.star-selected { float: left; cursor: auto; }

/* line 98, ../scss/_form.scss */
.rating-text { color: #666666; font-size: 0.74rem; font-weight: normal; }

/* line 104, ../scss/_form.scss */
input.text, textarea { border: 1px solid #dddddd; border-top: 1px solid #aaaaaa; border-left: 1px solid #aaaaaa; box-sizing: border-box; font-family: arial, sans; font-size: 1rem; padding: 10px; width: 100%; }

/* line 116, ../scss/_form.scss */
textarea { min-height: 140px; }

/* line 120, ../scss/_form.scss */
.primary { background: #ff5b26; border: 1px solid #c0451e; border-radius: 3px; color: #ffffff; font-family: arial, sans; font-size: 1.125rem; font-weight: bold; padding: 15px 20px; }

/* line 131, ../scss/_form.scss */
.primary i { font-size: .875rem; }

/* line 135, ../scss/_form.scss */
.primary:hover, .primary:active { background: #c0451e; cursor: pointer; }

/* line 141, ../scss/_form.scss */
.secondary { background: #f6f6f6; border: 1px solid #dddddd; border-radius: 3px; display: inline-block; font-size: 0.875rem; padding: 10px; }

/* line 150, ../scss/_form.scss */
.secondary:hover, .secondary:active { background: #dddddd; cursor: pointer; }

/* line 156, ../scss/_form.scss */
.secondary i { color: #aaaaaa; }

/* line 160, ../scss/_form.scss */
.action { margin-top: 10px; }
@media screen and (min-width: 650px) { /* line 160, ../scss/_form.scss */
  .action { background: none; border: 0; margin: 0; padding: 10px 0 20px 0; } }
