/* 05.28.2015 - 11:30:00 */
/*SNIPPET - GLOBAL*/
.pr-snippet,
.pr-snippet-wrapper {
	background: none;
	border: none;
	clear: both;
	font-family: 'Helvetica Neue','Helvetica','Arial','Frutiger','Univers','sans-serif'!important;
}

.pr-snippet-wrapper {
	padding: 0 0 20px 0;
}

.pr-snippet-stars,
.pr-snippet-read-write {
	background: none;
	border: 0;
	font-size: 100%;
	margin: 0;
	padding: 6px 0 0 0;
	text-align: left;
}

.pr-snippet-stars .pr-snippet-rating-decimal {
	display: none;
}

.pr-snippet-review-count {
	display: none;
}

.pr-snippet-read-write {
	padding-top: 10px;
}

.pr-snippet-read-reviews,
.pr-snippet-write-review {
	border: 0;
	padding: 0 10px 0 0;
}

.pr-snippet-write-first-review p {
	display: none;
}

.pr-snippet-read-reviews {
	border-right: 1px solid #dddddd;
	margin-right: 10px;
}

.pr-snippet-write-first-review p {
	font-size: 11px;
}

.pr-snippet-read-write a.pr-snippet-link,
.pr-snippet-read-write a.pr-snippet-link span ,
.pr-snippet-read-write a.pr-snippet-link:active,
.pr-snippet-read-write a.pr-snippet-link:active span {
  	color: #333333;
	font-size: 11px;
	font-weight: normal;
	text-decoration: none;
}

.pr-snippet-read-write a:hover, 
.pr-snippet-read-write a:hover span { 
	color: #ff6a00;
	text-decoration: underline;
}

/*SNIPPET - CATEGORY PAGE*/
li.applince div.pr-category {
	padding: 20px 0;
	width: 100%;
}

li.applince div.pr-category div,
li.applince div.pr-snippet div {
	padding: 0;
}

li.applince div.pr-category > a > div {
	width: 100%;
}

li.applince div.pr-snippet {
	float: right !important;
	padding: 0 7px 0 0 !important;
}

.pr-category .pr-snippet-stars {
	margin-bottom: 0;
}

.pr-category .pr-snippet-stars .pr-snippet-rating-decimal,
#related-products-carousel .pr-snippet-rating-decimal {
	display: none;
}

.pr-category .pr-snippet-review-count,
#related-products-carousel .pr-snippet-review-count {
	color: #333333;
	display: block !important;
	font-size: 13px;
	text-align: right;
}

#related-products-carousel .pr-snippet-review-count {
	text-align: left;
	clear: both;
}

.pr-category .pr-snippet-review-count:hover {
	color: #ff6a00;
}

.pr-category .pr-snippet-read-write,
#related-products-carousel .pr-snippet-read-write {
	display: none;
}

.pr-category .pr-snippet-read-reviews {
	border: 0;
	display: block;
	font-size: 11px;
	text-align: right;
	width: 100%;
}

.pr-snippet-read-reviews a span {
	font-weight: normal;
}

/*SNIPPET - COMPARE PAGE*/
.rating .pr-snippet-wrapper {
	padding: 0 0 10px 0;
}	

.rating .pr-snippet-stars .pr-snippet-rating-decimal {
	display: none;
}

.rating .pr-snippet-review-count {
	color: #333333;
	display: none !important;
	font-size: 13px;
	line-height: 1.4;
}

.rating .pr-snippet-review-count:hover {
	color: #ff6a00;
}

.rating .pr-snippet-write-first-review {
	display: none;
}

.rating .pr-snippet-read-write {
	display: none;
}

.rating .pr-snippet-read-reviews {
	border: 0;
	display: block;
	padding: 0;
	text-align: left;
	width: auto;
}

.rating .pr-snippet-write-review {
	display: none;
}

/*SNIPPET - QUICK VIEW MODAL*/
.product_list_quick_view .pr-snippet-read-write {
	display: none;
}

.product_list_quick_view .pr-snippet-review-count {
	color: #666666;
	display: block !important;
	float: left;
	font-size: 13px;
	line-height: 1.4;
	padding: 0 0 0 5px;
}

.product_list_quick_view .pr-snippet-stars .pr-snippet-rating-decimal {
	display: none;
}

@media screen and (max-width: 600px) {
	.pr-pdp .pr-snippet-wrapper {
		padding: 0 0 0 18px;
	}

	/*TEMP OVERRIDES FOR MOBILE*/
	.pr-pdp .pr-snippet-write-review,
	.pr-pdp .pr-snippet-write-first-review {
		display: none;
	}

	.pr-pdp .pr-snippet-read-reviews {
		border: 0;
	}

	.pr-pdp .pr-snapshot-write-review,
	.pr-pdp .pr-snapshot-no-ratings {
		display: none;
	}

	.pr_category .pr-snippet-wrapper,
	.rating .pr-snippet-wrapper {
		padding: 5px 0 0 0 !important;
	}

	.pr-category .pr-snippet-review-count,
	.rating .pr-snippet-review-count {
		font-size: 12px;
		line-height: 18px;
		text-align: left;
	}
}




/*REVIEWS - GLOBAL*/
.pr-review-engine {
	color: #707070;
	font-size: 14px;
	line-height: 150%;
	margin: 0;
	padding: 0;
}

.pr-snapshot-head,
.pr-snapshot-body,
.pr-snapshot-body-wrapper,
.pr-review-sort,
.pr-contents,
.pr-contents-wrapper {
	background: none;
	border: none;
	margin: 0;
	padding: 0 20px;
}


.pr-snapshot-head-wrapper,
.pr-snapshot-body-wrapper,
.pr-review-sort-wrapper,
.pr-contents-wrapper {
	margin: 0 auto;
	max-width: 1024px;
	padding: 0;
	width: 100%;
}

.pr-snapshot-head-wrapper {
	display: none;
}

.pr-snapshot-body-wrapper {
	position: relative;
}

.pr-snapshot-rating-wrapper {
	padding: 0;
}

.pr-float-left,
.pr-float-right {
	float: none;
}





/*SOCIAL SHARING*/
.pr-review-social-bar {
	display: block !important;
	display: none !important;
	margin: 0 auto;
	padding: 0 0 20px 0;
	max-width: 1024px;
}

.pr-fb-social-button {
	background: #eeeeee;
	border: 0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	padding: 10px;
}

.pr-fb-social-button a {
	color: #ff6a00;
}

.pr-base-modal {
	color: #707070;
	font-family: Arial, Helvetica, sans-serif;
}

p.pr-fb-follow-modal-header {
	color: #000000;
	font-family: Arial, Helvetica, sans-serif;
}

.pr-fb-follow-product-category li,
.pr-fb-follow-product-category li.category-1 {
	padding: 0 0 10px 0;
}

.pr-fb-follow-product-category li input {
	margin: -1px 10px 0 0;
}

.pr-fb-follow-submit-btn {
	font-size: 12px;
}

@media screen and (max-width: 600px) {
	.pr-review-social-bar {
		margin: 0 0 20px 0;
	}

	.pr-fb-social-button,
	.pr-snapshot-fb-follow-product-category-button-wrapper {
		box-sizing: border-box;
		width: 100%;
	}
}





/*SNAPSHOT*/
.pr-snapshot {
	background: #fff;
	padding: 20px 0 0 0;
}

.pr-snapshot-head-wrapper {
	border-bottom: 1px solid #cccccc;
	color: #36332e;
	font-size: 24px;
	margin-bottom: 20px;
}

.pr-snapshot-cobrand {
	display: none;
}

@media screen and (max-width: 805px) {
	.pr-snapshot {
		padding: 20px 0;
	}
}





/*SNAPSHOT - OVERALL SCORE*/
.pr-rating {
	background: #cccccc;
	color: #ffffff;
	line-height: 23px !important;
	margin-top: 1px;
}

.pr-snapshot-average-based-on-text {
	font-size: 12px;
	margin: 2px 0 0 2px;
}

.pr-review-rating .pr-rating {
	line-height: 16px !important;
	margin:2px 0 0 4px;
}





/*SNAPSHOT - MAIN HISTOGRAM*/
.pr-closed {
	display: block;
}

#pr-snapshot-histogram {
	clear: none;
	float: left;
	margin: 0 0 0 50px;
	width: 46%;
	position: relative;
	left: -320px;
	top: 60px;
}

#pr-snapshot-histogram-wrapper {
	position: static;
}

#pr-snapshot-histogram-lnk {
	display: none;
}

#pr-snapshot-histogram-header {
	background: #f3f3f3;
	color: #666666;
	display: block;
	font-size: 16px;
	font-weight: normal;
	padding: 5px 8px;
	width: 92%;
}

#pr-snapshot-histogram-header span { 
	color: #666;
}

#pr-snapshot-histogram-container {
	background: none;
	border: 0;
	margin: 0;
	position: static;
}

ul.pr-ratings-histogram-content {
	padding: 0;
}

ul.pr-ratings-histogram-content li {
	display: table;
	margin: 0;
	padding-bottom: 4px;
	width: 95%;
}

.pr-histogram-label {
	display: table-cell;
	font-size: 13px;
	width: 50px;
}

.pr-ratings-histogram-bar {
	border-radius: 3px;
	display: table-cell;
	float: none;
	vertical-align: top;
	width: 100%;
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.25) inset !important;
	background: #f3f3f3;
}

.pr-ratings-histogram-bar .pr-ratings-histogram-barValue {
	background-image: none;
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
	height: 18px;
	background-color: #ff6a00 !important;
    background-image: -moz-linear-gradient(center top , rgba(255, 255, 255, 0.3) 0px, rgba(255, 255, 255, 0) 100%) !important;	
}

ul.pr-ratings-histogram-content li p.pr-histogram-count {
	display: table-cell;
	font-size: 11px;
	padding-left: 5px;
	width: 18px;
}

@media screen and (max-width: 805px) {
	#pr-snapshot-histogram {
		clear: both;
		float: none;
		margin: 0;
		padding: 20px 0 20px 0;
	}

	#pr-snapshot-histogram {
		margin: 0;
		padding: 20px 0 20px 0;
		position: static;
		top: 0;
		width: 100%;
	}
}




/*PERCENTAGE RECOMMENDED*/
.pr-snapshot-consensus {
	display: none;
}





/*OTHER ATTRIBUTES*/
.pr-other-attributes,
.pr-other-attributes-histogram,
.pr-review-points,
.pr-snapshot-change-locale-wrapper,
.pr-snapshot-write-review-social-loyalty {
	display: none;
}

.pr-other-attributes-subratings{ 
	display: block !important; 
	float:right; 
	height: none; 
	position: relative; 
	top: -110px; 
	width: 330px; 
	margin-bottom: -70px;
}

@media screen and (max-width: 805px) {
	.pr-other-attributes-subratings {
		float: none;
		left: auto;
		margin: 0;
		position: static;
		top: auto;
		width: auto;
	}
}





/*SNAPSHOT - FOOTER*/
.pr-snapshot-footer {
	margin: 0;
	padding: 0;
}

.pr-snapshot-footer a {
    position: absolute;
    right: 1px;
    top: -7px;
}

.pr-snapshot-footer .pr-snapshot-no-ratings a {
	display: block;
	margin-top: 0;
	position: static;
	right: auto;
}

.pr-snapshot-write-review {
	background: #ffffff;
	border: 1px solid #999;
	border-radius: 3px;
	color: #574c3f;
	cursor: pointer;
	padding: 5px 12px;
	color: #333 !important;
    font-family: 'Helvetica Neue','Helvetica','Arial','Frutiger','Univers','sans-serif'!important;
    font-size: 13px !important;
    font-weight: 700 !important;
    line-height: 16px !important;

}

.pr-snapshot-write-review:hover { 
	border-color: #ffffff;
}

.pr-snapshot-write-review span { 
	color: #333; 
	font-weight: bolder; 
}

.pr-snapshot-write-review:hover span {
	color: #ff6a00;
}

@media screen and (max-width: 805px) {	
	.pr-snapshot-footer {
		padding-top: 20px;
	}

	.pr-snapshot-footer a {
		float: none;
		margin: 0;
		padding: 0;
		position: static;

	}
}





/*SNAPSHOT - FACEOFF*/
.pr-review-faceoff { 
	background: none; 
	border: none; 
	padding: .25em 0.5em 0.5em;
}

.pr-review-faceoff-review-wrapper { 
	border:none; 
	border-top: 3px solid #f3f3f3; 
	border-bottom: 3px solid #f3f3f3; 
	padding-top: 30px; 
	padding-bottom: 30px; 
}

.pr-review-faceoff-img { 
	height: 75%; 
	top: 20px; 
	border-right: 1px solid #ededed;
}

.pr-review-faceoff-img-txt{ 
	top: 30%; 
	padding: 12px 8px 9px 8px; 
	border: 0; 
	border-radius: 300px; 
	background: #f3f3f3; 
	line-height: 23px; 
	text-align: center;
}

.pr-review-faceoff-review-positive { 
	width: 41%; 
	padding: 0 9% 0 0; 
}

.pr-review-faceoff-review-negative { 
	width: 41% !important; 
	margin-left: 9% !important; 
	padding: 0 !important;
}





/*PREREVIEW - SORT*/
.pr-review-content-header {
	display: none;
}

.pr-review-sort {
	font-weight: normal;
	font-size: 11px !important;
}

.pr-review-sort .pr-review-sort-wrapper {
	background: #f3f3f3;
	color: #666;
	padding-bottom: 12px;
}

.pr-review-sort .pr-review-sort-wrapper .pr-review-count{ 
	font-size: 11px !important; 
	font-weight: normal; 
	margin: 16px 0 0 11px; 
}

.pr-review-sort-box { 
	padding: 10px 10px 0 10px;
}

.pr-review-sort-box p.pr-review-sort-by { 
	font-size: 11px; 
	margin: 0 5px 0 0; 
	vertical-align: auto; 
}

.pr-review-sort-box p.pr-review-sort-by:after { 
	font-size: 11px; 
	position: relative; 
	left: 82px; 
}

.pr-review-sort-box select { 
	background: #ffffff;
	border-radius: 2px;
	color: #666;
	cursor: pointer;
	display: inline-block;
	height: auto;
	padding: 5px 22px 5px 5px !important;
	width: auto !important;
}

@media screen and (max-width: 805px) {
	.pr-review-sort .pr-review-sort-wrapper {
		text-align: center;
	}

	.pr-review-sort-box {
		float: none;
	}

	.pr-review-sort-box select {
		box-sizing: border-box;
		margin-top: 10px;
		width: 100% !important;
	}

	p.pr-review-sort-by {
		display: none;
	}
}





/*PREREVIEW - PAGINATION*/
.pr-pagination-top {
	display: none;
}

.pr-pagination-bottom {
	background: #f3f3f3; 
	color: #666666; 
	margin: 20px 0 40px 0; 
	padding: 10px 6px 10px 12px;
}

.pr-pagination-bottom p.pr-page-count {
	margin-right: 15px;
	font-size: 12px;
}

.pr-nav-back-to-top a {
	font-size: 12px;
	margin: 0;
}

.pr-review-wrap:last-child{ 
	border: 1px solid red !important; 
}

.pr-page-nav-wrapper{ 
	width: 16%; 
}

.pr-page-nav span:hover{ 
	text-decoration: underline !important; 
}





/*REVIEWS - DATE*/
.pr-review-author-date {
	background: none;
	border: 0;
	color: #999999;
	padding: 0;
}





/*REVIEWS - HEADLINE/SCORE*/
.pr-review-rating-wrapper,
.pr-review-main-wrapper {
	width: 74%;
}

.pr-review-rating {
	margin: 0 0 10px 0;
}

.pr-review-rating-headline {
	float: left;
	color: #666;
	font-size: 18px;
	line-height: 22px;
	font-weight: normal;
	position: relative;
	left: -120px;
	top: 10px;
	width: 475px;
	margin-left: 120px;
}





/*REVIEWS - AUTHOR*/
.pr-review-author {
	font-size: 12px;
	width: 24%;
}

.pr-review-author p {
	line-height: 1.5 !important;
	padding: 0;
}

.pr-review-author-name,
.pr-review-author-location {
	color: #36332e;
	text-transform: capitalize;
	font-weight: bold;
}

p.pr-review-author-name,
p.pr-review-author-location {
	line-height: 1.5;
}

p.pr-review-author-name span,
p.pr-review-author-location span {
	color: #707070;
	font-weight: normal;
}

.pr-review-author-affinity-wrapper {
	display: none;
}





/*REVIEWS - PROS CONS*/
.pr-review-points-attr-wrapper {
	display: none;
}





/*REVIEWS - REVIEW TEXT*/
.pr-comments-header {
	display: none;
}

.pr-review-text {
	margin: 0;
}

.pr-review-rating-wrapper { 
	padding-bottom: 20px;
}

@media screen and (max-width: 805px) {
	.pr-review-author-date,
	.pr-review-rating-wrapper,
	.pr-review-author,
	.pr-review-main-wrapper {
		clear: both;
		float: none;
		width: 100%;
	}

	.pr-review-rating-wrapper {
		padding-bottom: 10px;
	}

	.pr-review-author-date {
		text-align: left;
		margin: 0;
	}

	.pr-review-rating .pr-stars {
		margin-bottom: 5px;
	}

	.pr-review-rating-headline {
		clear: both;
		line-height: 1.2;
		float: none;
	}
}





/*REVIEWS - REVIEW ATTRIBUTES*/
.pr-review-main-wrapper .pr-other-attributes {
	color: #666666;
	display: block;
	padding: 20px 0 0 0;
}

ul.pr-other-attributes-list { 
	padding: 5px 0 0 0;
}

.pr-other-attributes-list li.pr-other-attributes-group { 
	margin: 0 0 4px 0; 
	width: 100% !important;
}

.pr-other-attributes-list li.pr-other-attribute-label { 
	background: none !important; 
	width: 120px; 
	padding: 0; 
	font-size: 13px; 
	font-weight: normal; 
	text-transform: none; 
}

.pr-other-attributes-list li.pr-other-attribute-value { 
	margin: 0; 
}

.pr-stars-small-subrating {
	background: url('http://cpt.swash.com/images/powerreviews/swash_bar_subrating.gif');
	width: 142px;
} 

@media screen and (max-width: 805px) {
	.pr-other-attributes-list li.pr-other-attribute-label {
		width: 105px;
	}
}





/*REVIEWS - BOTTOM LINE*/
.pr-review-footer {
	padding-top: 20px;
}

.pr-review-bottom-line-wrapper .pr-review-bottom-line {
	margin-right: 4px;
	text-transform: none !important;
	color: #666;
	display: none;
}

.pr-review-bottom-line-wrapper p { 
	color: #666 !important; 
	font-size: 11px; 
	font-weight: bold; 
}

@media screen and (max-width: 805px) {
	.pr-review-bottom-line-wrapper .pr-review-bottom-line {
		display: block;
	}

	.pr-page-count-wrapper {
		width: auto;
	}
}



/*REVIEWS - IMAGES/VIDEO*/
.pr-customer-media-wrapper {
	border-bottom: 1px solid #dddddd;
	padding: 0 0 10px 0;
}

.pr-customer-media-user { 
	display: block; 
	margin-bottom: 0 !important; 
}

.pr-pic {
	background: none;
	border: 0;
	padding: 0;
}

.pr-pic-content {
	background: none;
}

.pr-pic-content .wrap1,
.pr-pic-content .wrap2 {
	background: none;
	padding: none;
}

.pr-pic .pr-pic-tags { 
	margin: 10px 0 0 10px; 
	width: auto;
}

.pr-customer-media-wrapper { 
	display: block; width: 100%; 
}





/*REVIEWS - MERCHANT RESPONSE*/
.pr-merchant-comments {
	margin: 0;
}





/*REVIEWS - MY REVIEWS MODAL*/
.pr-base-modal {
	font-size: 14px;
	line-height: 1.4;
}

.pr-profile-histogram-container ul.pr-ratings-histogram-content {
	padding: 10px 10px 0 0;
}

.pr-base-modal .pr-profile-review-product-info {
	width: 20%;
}

.pr-base-modal .pr-review-main-wrapper,
.pr-base-modal .pr-profile-reviews-wrapper .pr-review-rating-wrapper {
	width: 78%;
}

.pr-base-modal .pr-profile-review-product-info {
	font-size: 12px;
}

.pr-base-modal p.pr-review-rating-headline {
	clear: both;
	padding-top: 10px;
}

.pr-base-modal .pr-profile-histogram-header,
.pr-base-modal .pr-profile-nickname,
.pr-profile-reviews-header {
	color: #36332e;
	font-size: 16px;
	font-weight: normal;
}

@media screen and (max-width: 575px) {
	.pr-base-modal {
		bottom: 20px !important;
		left: 20px !important;
		height: auto !important;
		position: fixed;
		right: 20px !important;
		top: 20px !important;
		width: auto !important;
	}

	.pr-modal-container {
		bottom: 10px !important;
		left: 10px !important;
		height: auto !important;
		position: absolute;
		right: 10px !important;
		top: 10px !important;
		width: auto !important;
	}

	.pr-base-modal .pr-profile-author-container,
	.pr-base-modal .pr-profile-reviews-container {
		float: none;
		width: auto;
	}

	.pr-base-modal .pr-profile-author-container {
		height: auto;
	}

	.pr-base-modal .pr-profile-review-product-info,
	.pr-base-modal .pr-review-main-wrapper,
	.pr-base-modal .pr-profile-reviews-wrapper .pr-review-rating-wrapper {
		float: none;
		width: 100%;
	}
}





/*REVIEWS - TOOLS*/
.pr-review-most-helpful {
	display: none;
}

.pr-review-most-helpful-bottom {
	display: block;
	padding: 20px 0 5px 0;
}

.pr-review-tools {
	font-size: 12px;
	padding: 16px 0 !important;
}

.pr-review-tools p {
	font-style: normal;
	font-size: 12px;
	margin-right: 4px;
}

.pr-review-tools .pr-review-helpful-text a {
	border-radius: 3px;
	color: #707070;
	cursor: pointer;
	display: inline-block;
	line-height: 1;
	margin: 0;
	padding: 4px 0 3px 0;
	width: 38px;
	text-align: center;
	text-transform: none;
}

.pr-review-tools .pr-review-helpful-text a:hover,
.pr-review-tools .pr-review-helpful-text a:active {
	background-image: linear-gradient(#f8f8f8, #ffffff);
	text-decoration: none;
}

p.pr-review-report-issue {
	text-transform: none;
}

.pr-review-report-issue-hyphen {
	display: none;
}

.pr-error {
	border: 0;
	padding: 15px;
}

.pr-report-issue-header {
	color: #36332e;
	font-size: 16px;
}

.pr-error div {
	padding-bottom: 5px;
}

.pr-error div label {
	float: none !important;
	margin-left: 5px;
}

.pr-error div .pr-error-email,
.pr-error div .pr-error-comments {
	background: #ffffff;
	border: 1px solid #cccccc;
}

.pr-error .pr-submit-button {
	margin-right: 5px;
}

.pr-review-helpful-text-link { 
	color: #666 !important; 
}

.pr-review-helpful-text-link:hover { 
	text-decoration: underline; 
}

.pr-review-wrap:hover .pr-review-helpful-text a { 
	background:#eeeeee;
	transition: all 250ms ease; 
}

.pr-review-tools .pr-review-helpful-text a:hover { 
	background:#666 !important; 
	color: #fff !important; 
	transition: all 250ms ease;
}

@media screen and (max-width: 805px) {
	.pr-error {
		width: auto;
	}

	p.pr-review-report-issue {
		display: block;
	}
}





/*REVIEWS - FACEBOOK COMMENT*/
.pr-fb-reviewComment {
	display: none;
}












/* ############ FORM STYLES ############ */

/*REVIEW FORM - HEADER*/
.printro h1 {
	color: #000000;
	font-size: 18px;
}

.printro p {
	display: none;
}

.prMainInstructions {
	display: none;
}

.requirednotice {
	text-align: left;
}





/*REVIEW FORM - GLOBAL FORM ELEMENTS*/
.prwrapper {
	border: 1px solid #e6e6e6;
	box-sizing: border-box;
	color: #707070;
	font-family: Arial, Helvetica, sans-serif;
	margin: 0 auto;
	max-width: 600px;
	padding: 20px;
	width: 100%;
}

div.ratingMessage {
	font-size: 10px;
	margin: 0 0 0 155px;
	padding-top: 4px;
}

.prlabel {
	margin-right: 4%;
	width: 23%;
}

.prfieldwrap {
	border: 0;
}

#wasthisagift_click_all_text,
#wasthisagift {
	display: none;
}

#pros,
#cons,
#bestuses,
#describeyourself {
	display: none;
}

.prinputgroup {
	padding: 0;
}

.prinputgroup .prfieldwrap {
	background: #ffffff;
	background-image: none;
	border-radius: 3px;
	display: block;
	padding: 0;
	width: 73%;
}

.prfields {
	padding: 10px;
}

#pr_comment_prompts_bottom {
	border: 0;
	font-size: 10px;
	padding: 0;
	width: auto;
}

#pr_comment_prompts_bottom i {
	font-style: normal;
}

@media screen and (max-width: 550px) {
	.prlabel,
	.prfieldwrap,
	.prinputgroup .prfieldwrap {
		float: none;
		text-align: left;
		width: 100%;
	}

	.prinputgroup { 
		padding: 0 0 10px 0;
	}

	.prfields {
		padding: 0;
	}

	#pr_comment_prompts {
		display: none;
	}
}





/*REVIEW FORM - INPUT TYPES AND LABELS*/
.prlabel h3 {
	color: #000000;
	font-size: 14px;
}

.inputBox {
	box-sizing: border-box;
	color: #707070;
	font-size: 16px;
	padding: 8px;
	width: 100%;
}

a,
p.tiptoggle a {
	color: #333;
	text-decoration: none;
}

span.show,
.shown span.hide {
	background: none;
	display: inline-block;
	font-size: 12px;
	padding: 5px 0 0 0;
}

.addTags {
	background: none;
	margin: 0;
	padding: 0;
}

.checkboxes a {
	color: #707070;
}

.radioOpt {
	padding: 0 0 6px 0;
}

table.radioScale {
	margin: 0 0 10px -5px;
}

.prClearRadio {
	display: none;
}

#bottomline_click_all_text {
	display: none;
}

#bottomline .prfieldwrap .prfields p {
	display: none;
}

@media screen and (max-width: 550px) {
	.addTags {
		height: auto;
		width: 100%;
	}

	.checkboxes {
		float: none;
		margin-bottom: 15px;
		width: 100%;
	}

	p.checkitem {
		margin: 0;
		text-indent: 0;
	}

	.checkboxes a {
		display: block;
		padding: 5px;
		margin-bottom: 15px;
	}

	p.checkitem a.checkbox {
		border: 1px solid #ffffff;
		border-radius: 3px;
		cursor: pointer;
		padding: 12px 12px 12px 32px;
		margin-bottom: 2px;
	}

	a.unchecked {
		background-position: 12px;
	}

	.addTags p:first-child {
		display: none;
	}

	.addTags p {
		width: 100%;
	}
}





/*REVIEW FORM - TABBED COMMENT BOXES*/
textarea#experience_value {
	border: 1px solid #cccccc;
	font-size: 16px;
	padding: 8px;
}

ul.tabs li {
	margin-right: 0;
}

.tabs a,
.tabs span {
	background: none;
	border: 0;
	color: #4a99ca;
	font-size: 14px;
	font-weight: normal;
	padding: 10px;
	text-decoration: none;
}

.tabs a.viewing {
	background: #ffffff;
	border: 1px solid #cccccc;
	border-bottom: 1px solid #ffffff;
	color: #707070;
	font-size: 14px;
	font-weight: normal;
	padding: 10px;
	text-decoration: none;
}

.tabsheet {
	background: #ffffff;
	border: 1px solid #cccccc;
	border-bottom: 0;
	color: #707070;
	padding: 10px;
}

.tabsheet .pr_tabbed_comment_prompts {
	background: #ffffff;
	border: 0;
	font-size: 12px;
	padding: 0 0 10px 0;
	width: auto !important;
}

#pr_tabbed_comment_prompts_bottom {
	background: #ffffff;
	border: 1px solid #cccccc;
	border-top: 0;
	font-size: 10px;
	padding: 0 10px 10px 10px;
	width: auto !important;
}

#pr_tabbed_comment_prompts_bottom i {
	font-style: normal;
}

.tabsheet textarea,
#experience textarea {
	box-sizing: border-box;
	font-size: 14px;
	margin: 0;
	width: 100%;
}

@media screen and (max-width: 550px) {
	.tabs a,
	.tabs span {
		font-size: 12px;
		padding: 8px;
	}

	.tabs a.viewing {
		font-size: 12px;
		padding: 8px;
	}
}





/*REVIEW FORM - SELECT FIELDS*/
.prfields select {
	max-width: 100%;
}





/*REVIEW FORM - SUBRATINGS*/
div.prStars.prStarsSubrating {
	background-image: url('http://cpt.swash.com/images/powerreviews/swash_bar_subrating.gif') !important;
	margin: 0;
	width: 142px;
}

div.prStars.prStarsSubrating div.prStar {
	width: 27px;
}

div.prStars.prStarsSubrating .prStar.prS2 {
	left: 28px;
}

div.prStars.prStarsSubrating .prStar.prS3 {
	left: 58px;
}

div.prStars.prStarsSubrating .prStar.prS4 {
	left: 86px;
}

div.prStars.prStarsSubrating .prStar.prS5 {
	left: 114px;
}





/*REVIEW FORM - IMAGES AND VIDEO*/
.break .prCImainform {
	background: none;
	border: 0;
	float: right;
	line-height: 150%;
	padding: 0 0 10px 0;
	width: 73%;
}

.prCImainform h3 {
	color: #000000;
	font-size: 14px;
	margin: 0 0 10px 0;
}

.prCImainform p,
.prCIpreview p {
	font-size: 12px;
	width: auto;
}

.prCIcontent {
	padding: 0;
}

.prCIcontent > h3,
.prCIcontent > p {
	display: none;
}

.prCImainform .actions {
	bottom: auto;
	position: static;
	right: auto;
}

#prAddImage,
#prAddImage:hover {
	color: #333333;
	font-weight: normal;
	padding: 10px;
}

@media screen and (max-width: 550px) {
	.prwrapper .break .prCImainform {
		width: 100%;
	}
}





/*REVIEW FORM - SUBMIT*/
.button,
.button:hover,
#prBtnContainer button,
#prPreview button,
#prSubmit,
#prSubmit:hover,
#prEditReview,
#prEditReview:hover,
#prCancel,
#prCancel:hover,
#prPreview,
#prPreview:hover,
#prBtnContainer button,
#prPreview button,
a#prPreview {
	background: #ffffff;
	border: 1px solid #999;
	border-radius: 3px;
	color: #333333;
	cursor: pointer;
	display: inline-block;
	font-weight: bold !important;
	height: auto !important;
	padding: 10px 20px;
}

.button span {
	background: none;
	padding: 0;
}

a#prSubmit {
	font-size: 16px;
	font-weight: normal;
}

a.button.tagsuggest {
	color: #333333;
	padding: 11px 10px;
	top: auto;
}

a.button.tagsuggest span {
	padding: 0;
}

.prsubmit,
.prsubmit.upload {
	background: #f0f0f0;
	border-radius: 3px;
	float: none;
	height: auto;
	margin: 0;
	padding: 20px;
	width: auto;
}

.prCancelUpload {
	left: auto !important;
	margin-top: 15px;
	position: absolute !important;
	top: auto !important;
}

.rtarrow,
.lfarrow {
	padding: 0;
}

.addInstructions {
	display: none;
}

.prfootertext {
	color: #999999;
	font-size: 12px;
}

.prfootertext ul {
	padding: 0 0 0 18px;
}

@media screen and (max-width: 550px) {
	.prfootertext {
		margin: 0;
	}
}





/*REVIEW FORM - PREVIEW PAGE*/
.prgroup {
	margin: 0;
	width: auto;
}

.prcontentwrap {
	background: none;
}

.prcontent {
	padding-bottom: 1em;
}

.prReviewWrapper {
	padding: 10px;
}

.customer {
	padding-top: 5px;
}

.prReviewWrapper .prReviewKey {
	text-align: left;
}

.comments {
	font-size: 14px;
}

.prconfirmWrapper {
	margin: 0;
	padding: 10px;
}

.prPubDisclaimer {
	color: #666666;
}

.prconfirm {
	color: #666666;
	font-size: 12px;
	margin: 0;
}

.predit {
	margin: 0;
	padding: 20px 0;
}

.prcontentwrap .prsubmit {
	margin: 0;
	padding: 20px;
}

.prwrapper .break .prCImainform {
	width: 80% !important;
}





/*THANKS PAGE*/
.prcontentwrap.verify {
	width: auto;
}

.prfieldwrap.prshop {
	background: #ffffff;
	border-top: 1px solid #cccccc;
	border-radius: 0;
	font-size: 14px;
	padding: 20px 0 0 0;
	width: 100%;
}

#fanPageSection .prfieldwrap.prshop {
	border: 0;
	float: none !important;
	margin: 0;
	padding: 0;
}

.prFbCtaRail {
	padding: 20px 0 0 0;
	text-align: left;
}

.prFbWrapper .prDisclaimer {
	float: none;
}

.prPrivacyPopUp {
	float: none;
}

h2.prInline {
	color: #000000;
	font-size: 16px;
}

.prSmallFont {
	font-size: 14px;
}

.prFbWrapper ul.prFbFeaturesList {
	margin: 0 0 20px 18px;
}

.prFbFanPageWrapper {
	float: none;
	margin: 0;
	padding: 10px 0;
	position: static;
	width: 100%;
}





/*ASK A QUESTION*/
.prPaHeader {
	border: 0;
	color: #000000;
	font-size: 18px;
}

h3.input_label {
	color: #000000;
	font-size: 16px;
}

.prwrapper .prfieldwrap {
	box-sizing: border-box;
	/*width: 100%;*/
}

.prfieldwrap {
	color: #707070;
	font-size: 14px;
	line-height: 1.5;
}

#question-type-example {
	font-size: 12px;
	margin: 5px 0 10px 0;
}

.prfieldwrap input,
#nickname_value,
#location_value {
	border: 1px solid #cccccc;
}

.prfieldwrap textarea {
	border: 1px solid #cccccc;
	box-sizing: border-box;
}

.prPaInputLabel {
	font-weight: normal;
}

#pr_comment_prompts_bot,
.prfieldwrap .instructions {
	font-size: 12px;
}

#prPreview,
#prPreview:hover {
	padding: 20px 0 0 0;
}

#prPreview .yui-button,
#prBtnContainer #prNotifyMeButton.yui-button,
#prPreview .yui-button span.first-child,
#prBtnContainer #prEditButton.yui-button,
#prBtnContainer #prEditButton span.first-child,
#prBtnContainer #prSubmitButton.yui-button,
#prBtnContainer #prSubmitButton span.first-child {
	background: none;
	padding: 0;
}

@media screen and (max-width: 460px) {
	#email_value,
	#nickname_value,
	#location_value {
		width: 100%;
	}

	.prfieldwrap .instructions {
		padding: 0;
	}

	.prfieldwrap ul {
		padding-left: 18px;
	}
}





/*QUESTION PREVIEW*/
.prPaDisclaimer {
	display: none;
}

.pr-preview-container {
	border: 0;
	border-radius: 3px;
}

.pr-preview-container h3,
.pr-preview-container strong {
	font-size: 16px;
	font-weight: normal;
	margin-bottom: 5px;
}

#prPaConfirmCont {
	font-size: 14px;
	line-height: 1.5;
	padding: 20px 0;
}

#prPaConfirmCont label {
	margin-right: 20px;
}





/*ANSWER A QUESTION*/
.prPaHeaderDiv {
	border: 0;
}

.prPaHeaderDiv .prPaHeaderNoBorder {
	color: #000000;
	font-size: 18px;
}

.prContainer {
	border: 0;
	padding: 10px;
}

.prContainer p {
	margin-top: 0;
	font-size: 14px;
}

.prContainer p:last-child {
	margin-bottom: 0;
}

#normalQuestionDiv .prfieldwrap,
.prPaCustomerSaleInfo.prfieldwrap,
#editPage .prwrapper .prfieldwrap {
	border: 0;
	border-radius: 3px;
	width: auto;
}









.pr-star {
	display: none;
}