/* line 1, ../scss/_reset.scss */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { 
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
}

.cf:before, 
.cf:after { 
	content: " "; 
	display: table; 
}

.cf:after { 
	clear: both; 
}

.cf { 
	*zoom: 1; 
}

body {
	color: #666666;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 14px;
}

.abt-header {
	background: url('../images/abt-header.png') top center no-repeat;
	height: 220px;
	margin: 0 auto;
	width: 100%;
}

.wrapper {
	box-sizing: border-box;
	margin: 20px auto;
	max-width: 600px;
	padding: 0 10px;
	width: 100%;
}

.header {
	border-bottom: 1px solid #dddddd;
	margin-bottom: 20px;
	padding-bottom: 20px;
	width: 100%;
}

header {
	margin-bottom: 20px;
}

.product-image {
	float: left;
	width: 90px;
}

.product-image img {
	height: auto;
	width: 100%;
}

.product-info {
	font-size: 12px;
	line-height: 1.2;
	margin-left: 110px;
	width: auto;
}

section {
	padding: 0 0 25px 0;
}

section:last-child {
	border-top: 1px solid #dddddd;
	padding-top: 20px;
}

.headline1,
.headline3 {
	color: #000000;
	font-size: 20px;
}

.headline3 {
	font-size: 14px;
	padding-bottom: 5px;
}

p {
	clear: both;
	padding: 0 0 20px 0;
}

.product-info p {
	clear: none;
}

p:last-child {
	padding: 0;
}

p.legal {
	color: #aaaaaa;
	font-size: 12px;
	line-height: 1.2;
}

a {
	color: #4a99ca;
	text-decoration: none;
}

.rating-text {
	color: #666666;
	font-size: 12px;
	font-weight: normal;
}





label.main {
	color: #000000;
	display: block;
	font-size: 16px;
	font-weight: bold;
	padding-bottom: 5px;
}

label.main span {
	color: #666666;
	font-size: 14px;
	font-weight: normal;
}

label.main span.required,
.required {
	color: #dd0000;
	padding-bottom: 5px;
}

.error {
	background: #f9d5d5;
	border-radius: 2px;
	color: #dd0000;
	margin-bottom: 20px;
	padding: 10px 15px;
}

#counter {
	color: #a94442;
}

label.tags {
	border: 1px solid #dddddd;
	border-bottom: 2px solid #dddddd;
	border-radius: 2px;
	box-sizing: border-box;
	cursor: pointer;
	display: inline-block;
	float: left;
	margin: 0 1.296% 5px 0;
	padding: 13px 15px 12px 15px;
	width: 49.3%;
}

label.tags:nth-child(2n) {
	margin-right: 0;
}

label.tags:hover,
.radioset .radio:hover {
	background: #f6f6f6;
}

label.tags input,
label.radio input {
	display: none;
}

label.tags.selected,
label.tags.selected:hover,
label.radio.selected,
label.radio.selected:hover {
	background: #4a99ca;
	color: #ffffff;
}

label.radio.selected,
label.radio.selected:hover {
	border-left: 1px solid #dddddd;
}

.radio {
	border: 1px solid #dddddd;
	border-bottom: 2px solid #dddddd;
	box-sizing: border-box;
	cursor: pointer;
	display: inline-block;
	padding: 14px 15px 12px 15px;
}

.radio:hover {
	background: #f9f9f9;
}

.radioset_bin .radio {
	border-right: 0;
	float: left;
}

.radioset_bin .radio:first-child {
	border-top-left-radius: 2px;
	border-bottom-left-radius: 2px;
}

.radioset_bin .radio:last-child {
	border-right: 1px solid #dddddd;
	border-top-right-radius: 2px;
	border-bottom-right-radius: 2px;
}

.radioset_vert .radio {
	border-bottom: 0;
	display: block;
}

.radioset_vert .radio:first-child {
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
}

.radioset_vert .radio:last-child {
	border-bottom: 2px solid #dddddd;
	border-bottom-left-radius: 2px;
	border-bottom-right-radius: 2px;
}

.rating {
	overflow: hidden;
	display: inline-block;
	padding-bottom: 5px;
}

label.star,
div.star,
div.star-selected {
	background: #dddddd;
	border-radius: 3px;
	float: right;
	display: inline-block;
	cursor: pointer;
	margin-right: 5px;
	padding: 8px 8px 5px 8px;
}

label.star img {
	height: auto;
	width: 30px;
}

div.star,
div.star-selected { 
	font-size: 1.125rem; 
	padding: 6px; 
}

label.star input { 
	display: none; 
}

label.star:hover, 
label.star:hover ~ label.star, 
.rating label.selected ~ label.star, 
label.star:active, 
.rating label.selected, 
div.star-selected { 
	background: #f7941d;
}

.rating div {
	background: #f7941d;
	color: #ffffff;
	cursor: text;
	float: left;
	margin-right: 3px;
	padding: 4px 4px 2px 4px;
}

.rating div img {
	height: auto;
	width: 20px;
}

.add-check {
	display: block;
	padding-top: 15px;
}

.add-check i {
	font-size: 10px;
}

.input-group {
	display: none;
	padding-left: 24px;
}

.drop-inputs,
.small-check {
	cursor: pointer;
}

input.text,
textarea,
input.add-tag-input {
	border: 1px solid #dddddd;
	border-radius: 3px;
	box-sizing: border-box;
	box-shadow: rgba(0, 0, 0, 0.0745098) 0px 1px 1px 0px inset;
	color: #666666;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 16px;
	line-height: 1.2;
	margin-bottom: 10px;
	padding: 13px 12px 12px 12px;
	width: 100%;
}

input.caption {

}

textarea {
	min-height: 150px;
}

input.add-tag-input {
	margin-right: 10px;
	width: 84%;
}

input.file {
	display: none;
}

.uploaded_image {
	background: #f9f9f9;
	border: 1px solid #dddddd;
	border-radius: 2px;
	margin-bottom: 8px;
	padding: 10px;
}

.uploaded_image img {
	float: left;
	height: auto;
	margin-right: 10px;
	max-width: 90px;
}

input.caption {
	float: left;
	margin-top: 13px;
	width: 68%;
}

.trash{
	border: 1px solid #c0451e;
	border-bottom: 2px solid #c0451e;
	border-radius: 3px;
	background: #f05e24;
	color: #ffffff;
	cursor: pointer;
	float: right;
	font-size: 24px;
	font-weight: bold;
	margin-top: 13px;
	padding: 8px 12px 6px 12px;
}

::-webkit-input-placeholder {  
   color: #cccccc;  
}

:-moz-placeholder {  
   color: #cccccc;  
}

::-moz-placeholder {  
   color: #cccccc;  
}

:-ms-input-placeholder {  
   color: #cccccc;  
}

.primary {
	border: 1px solid #c0451e;
	border-bottom: 2px solid #c0451e;
	border-radius: 3px;
	background: #f05e24;
	color: #ffffff;
	cursor: pointer;
	font-size: 16px;
	font-weight: bold;
	padding: 10px 15px;
}

.primary:hover {
	background: #c0451e;
}

.secondary {
	background: #f6f6f6;
	border: solid #dddddd 1px;
	border-bottom: solid #dddddd 2px;
	border-radius: 2px;
	clear: both;
	color: #4a99ca;
	cursor: pointer;
	display: inline-block;
	font-weight: normal;
	padding: 12px 15px;
}

.secondary:hover {
	background: #dddddd;
	border: solid #cccccc 1px;
	border-bottom: solid #cccccc 2px;
}

.add-tag {
	border: 1px solid #dddddd;
	border-bottom: 2px solid #dddddd;
	border-radius: 2px;
	color: #666666;
	padding: 15px 15px 14px 15px;
}

.add-tag:hover {
	background: #f6f6f6;
}


@media screen and (max-width: 525px) {
	.abt-header {
		background: url('../images/abt-header-small.png') no-repeat;
		background-size: 100% auto;
		height: 110px;
		margin: 0 auto;
		width: 100%;
	}

	label.tags {
		margin: 0 0 5px 0;
		width: 100%;
	}

	label.tags:nth-child(2n) {
		margin-right: 0;
	}

	.radioset_horiz .radio {
		border: 1px solid #dddddd;
		border-bottom: 0;
		cursor: pointer;
		display: inline-block;
		float: none;
		padding: 14px 12px 13px 12px;
		width: 100%;
	}

	.radioset_horiz .radio:first-child {
		border-top-left-radius: 3px;
		border-top-right-radius: 3px;
		border-bottom-left-radius: 0;
	}

	.radioset_horiz .radio:last-child {
		border-right: 1px solid #dddddd;
		border-top-right-radius: 0;
		border-bottom-right-radius: 3px;
		border-bottom-left-radius: 3px;
		border-bottom: 2px solid #dddddd;
	}

	input.add-tag-input {
		width: 75%;
	}

	.uploaded_image img {
		max-width: 60px;
	}

	input.caption {
		width: 55%;
		margin-top: 0;
	}

	a.trash {
		margin-top: 0;
	}
}
